.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
}

.project-item h3 {
    margin-bottom: 10px;
    color: #2c7a7b;
}

.project-item p {
    margin-bottom: 15px;
}

.project-item a {
    color: #2c7a7b;
    text-decoration: none;
    font-weight: bold;
}
