.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode aside {
    background-color: #444;
}

.dark-mode a {
    color: #fff;
}

.dark-mode .skills-list li {
    background-color: #555;
}

.dark-mode footer {
    background-color: #444;
}
